<div class="content" role="main">
<div class="mat-elevation-z8">
    <mat-form-field class="search">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search" (keyup)="Filterchange($event)">
    </mat-form-field>
<table mat-table matSort [dataSource]="dataSource" >


    <ng-container matColumnDef="Id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="email">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="phone">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="salary">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Salary </th>
        <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
      </ng-container>

    <ng-container matColumnDef="department">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Department </th>
        <td mat-cell *matCellDef="let element"> {{element.department}}</td>
    </ng-container>

    <ng-container matColumnDef="edit" >
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element" ><a [routerLink]="['/employees','edit', element.id ]" style="text-decorations:none; color:inherit;"> <button  mat-icon-button  >
            <mat-icon  aria-hidden="false" aria-label="Example edit icon" fontIcon="edit" ></mat-icon>
          </button> </a> </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> <button mat-icon-button  
          mwlConfirmationPopover
          popoverMessage="Are you sure you want to delete this employee?" 
          placement="left" 
          (confirm)='deleteEmployee(element.id)'
          cancelClicked=true>
            <mat-icon aria-hidden="false" aria-label="Example delete icon" fontIcon="delete"></mat-icon>
          </button></td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="100"
              [pageSize]="7"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>
</div>
</div>